matrix:
  homeserverUrl: "http://localhost:8008" # The URL of the home server
  userId: "@sfu:shadowfax"               # The MXID of the SFU user
  accessToken: "..."                     # Access token of the SFU user
conference:
  heartbeat:
    timeout: 30                          # After which time the server will treat the lack of pings from the peer as error (in seconds)
    interval: 30                         # How often will the server send ping commands to the connected clients (in seconds)
webrtc:
  simulcast: true                        # Simulcast on/off
  ipAddresses:
    - 10.0.0.1                           # Your public IP address(es) (if any)
log: "debug"                             # Debug level
