<html>
  <head>
    <title> SFU to SFU </title>
  </head>

  <body>
    <select id="fociPort">
      {{range $val := .}}<option value="{{$val}}">{{$val}}</option>{{end}}
    </select>
    <button id="connectToFociButton" onclick="connectToFoci()">Connect to FOCI</button>
    <hr />

    <div id="connectedInputs">
      <h3> Publish </h3>
      <input id="callIdPublish" type="text" placeholder="Call ID">
      <input id="deviceIdPublish" type="text" placeholder="Device ID">
      <input id="purposePublish" type="text" placeholder="Purpose">
      <br />
      <button id="publishButton" onclick="publishButton()">Publish</button>
      Do screenshare: <input id="publishScreenshare" type="checkbox" />

      <h3> Subscribe </h3>
      FOCI: <select id="fociSubscribePort">
        {{range $val := .}}<option value="{{$val}}">{{$val}}</option>{{end}}
      </select>
      <input id="callIdSubscribe" type="text" placeholder="Call ID">
      <input id="deviceIdSubscribe" type="text" placeholder="Device ID">
      <input id="purposeSubscribe" type="text" placeholder="Purpose">
      <br />
      <button id="subscribeButton" onclick="subscribe()">Subscribe</button>
    </div>

    <div id="tracks"> </div>
  </body>
  <script>
    let peerConnection = null
    let dataChannel = null

    connectToFociButton.onclick = () => {
      peerConnection = new RTCPeerConnection()
      dataChannel = peerConnection.createDataChannel('signaling')
      dataChannel.onmessage = event => {
        console.log(event)
      }

      peerConnection.createOffer().then(offer => {
        peerConnection.setLocalDescription(offer)
        fetch(`${window.location.protocol}//${window.location.hostname}:${fociPort.value}/createSession`, {
          method: 'POST',
          body: offer.sdp,
        })
        .then(res => res.text())
        .then(answer => {
          peerConnection.setRemoteDescription({type: 'answer', sdp: answer})
        })
      })
    }

    publishButton.onclick = () => {
      if (peerConnection === null) {
        return window.alert('Not connected to a FOCI')
      } else if (callIdPublish.value === '' || deviceIdPublish.value === '' || purposePublish.value === '') {
        return window.alert('Not all required values are satisfied')
      }

      let addStreamAndSendRequest = mediaStream => {
        for (const track of mediaStream.getTracks()) {
          peerConnection.addTrack(track)
        }

        peerConnection.createOffer().then(offer => {
          peerConnection.setLocalDescription(offer)
          dataChannel.send(JSON.stringify({
            event: 'publish',
            id: generateRandomString(),
            call_id: callIdPublish.value,
            device_id: deviceIdPublish.value,
            purpose: purposePublish.value,
            sdp: offer.sdp,
          }))
        })
      }

      if (publishScreenshare.checked) {
        navigator.mediaDevices.getDisplayMedia()
          .then(stream => addStreamAndSendRequest(stream))
      } else {
        navigator.mediaDevices.getUserMedia({audio: true, video: true})
          .then(stream => addStreamAndSendRequest(stream))
      }
    }

    subscribeButton.onclick = () => {
      if (peerConnection === null) {
        return window.alert('Not connected to a FOCI')
      } else if (fociSubscribe.value === '' || callIdSubscribe.value === '' || deviceIdSubscribe.value === '' || purposeSubscribe === '') {
        return window.alert('Not all required values are satisfied')
      }

      debugger
    }

    const generateRandomString = () => (Math.random() + 1).toString(36).substring(7)
  </script>
</html>
