<html>
  <head>
    <title> SFU to SFU </title>
  </head>

  <body>
    <select id="fociPort">
      {{range $val := .}}<option value="{{$val}}">{{$val}}</option>{{end}}
    </select>
    <button id="connectToFociButton" onclick="connectToFoci()">Connect to FOCI</button>
    Connection State:
    <span id="connectionState">New</span>
    <hr />

    <div id="connectedInputs">
      <h3> Publish </h3>
      <input id="callIdPublish" type="text" placeholder="Call ID">
      <input id="deviceIdPublish" type="text" placeholder="Device ID">
      <input id="purposePublish" type="text" placeholder="Purpose">
      <br />
      <button id="publishButton">Publish</button>
      Do screenshare: <input id="publishScreenshare" type="checkbox" />

      <h3> Subscribe </h3>
      <select onchange="fociSubscribe.value = `localhost:${this.value}`">
        <option> </option>
        {{range $val := .}}<option value="{{$val}}">{{$val}}</option>{{end}}
      </select>
      <input id="fociSubscribe" type="text" placeholder="FOCI">
      <input id="callIdSubscribe" type="text" placeholder="Call ID">
      <input id="deviceIdSubscribe" type="text" placeholder="Device ID">
      <input id="purposeSubscribe" type="text" placeholder="Purpose">
      <br />
      <button id="subscribeButton">Subscribe</button>
    </div>

    <div id="tracks"> </div>
  </body>
  <script>
    let peerConnection = null
    let dataChannel = null

    connectToFociButton.onclick = () => {
      peerConnection = new RTCPeerConnection()
      peerConnection.onconnectionstatechange = e => {
        document.getElementById('connectionState').innerText = peerConnection.connectionState
      }

      peerConnection.ontrack = function (event) {
        if (event.streams.length == 0 || event.track.kind === "audio") {
          return
        }

        var el = document.createElement(event.track.kind)
        el.srcObject = event.streams[0]
        el.autoplay = true
        el.controls = true
        el.muted = true

        document.getElementById('tracks').appendChild(el)
      }


      dataChannel = peerConnection.createDataChannel('signaling')
      dataChannel.onmessage = event => {
        try {
          let parsed = JSON.parse(event.data)
          switch (parsed.event) {
            case 'publish':
            case 'subscribe':
              peerConnection.setRemoteDescription({type: 'answer', sdp: parsed.sdp})
              return
            case 'error':
              window.alert(parsed.message)
              return
          }
        } catch (error) {
          window.alert(error)
        }
      }

      peerConnection.createOffer().then(offer => {
        peerConnection.setLocalDescription(offer)
        fetch(`${window.location.protocol}//${window.location.hostname}:${fociPort.value}/createSession`, {
          method: 'POST',
          body: offer.sdp,
        })
        .then(res => res.text())
        .then(answer => {
          peerConnection.setRemoteDescription({type: 'answer', sdp: answer})
        })
      })
    }

    publishButton.onclick = () => {
      if (peerConnection === null) {
        return window.alert('Not connected to a FOCI')
      } else if (callIdPublish.value === '' || deviceIdPublish.value === '' || purposePublish.value === '') {
        return window.alert('Not all required values are satisfied')
      }

      let addStreamAndSendRequest = mediaStream => {
        let mids = []
        for (const track of mediaStream.getTracks()) {
          peerConnection.addTrack(track)

          peerConnection.getTransceivers().forEach((transceiver, i) => {
            if (transceiver.sender && transceiver.sender.track === track) {
              mids.push((i + 1).toString())
            }
          })
        }

        const el = document.createElement('video')
        el.srcObject = mediaStream
        el.autoplay = true
        el.controls = true
        el.muted = true
        document.getElementById('tracks').appendChild(el)

        peerConnection.createOffer().then(offer => {
          peerConnection.setLocalDescription(offer)
          dataChannel.send(JSON.stringify({
            event: 'publish',
            id: generateRandomString(),
            call_id: callIdPublish.value,
            device_id: deviceIdPublish.value,
            purpose: purposePublish.value,
            sdp: offer.sdp,
            mids: mids,
          }))
        })
      }

      if (publishScreenshare.checked) {
        navigator.mediaDevices.getDisplayMedia()
          .then(stream => addStreamAndSendRequest(stream))
      } else {
        navigator.mediaDevices.getUserMedia({audio: true, video: true})
          .then(stream => addStreamAndSendRequest(stream))
      }
    }

    subscribeButton.onclick = () => {
      if (peerConnection === null) {
        return window.alert('Not connected to a FOCI')
      } else if (fociSubscribe.value === '' || callIdSubscribe.value === '' || deviceIdSubscribe.value === '' || purposeSubscribe === '') {
        return window.alert('Not all required values are satisfied')
      }

      peerConnection.addTransceiver('audio', {direction: 'recvonly'})
      peerConnection.addTransceiver('video', {direction: 'recvonly'})

      peerConnection.createOffer().then(offer => {
        peerConnection.setLocalDescription(offer)
        dataChannel.send(JSON.stringify({
          event: 'subscribe',
          id: generateRandomString(),
          call_id: callIdSubscribe.value,
          device_id: deviceIdSubscribe.value,
          purpose: purposeSubscribe.value,
          sdp: offer.sdp,
          foci: fociSubscribe.value,
        }))
      })
    }

    const generateRandomString = () => (Math.random() + 1).toString(36).substring(7)
  </script>
</html>
